.stats-container {
    background-color: #1F1D2B;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 10px;
    padding: 30px;
    border-radius: 10px;
}

.stats-con-row-1 {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}